@model IEnumerable<CarRentalApp.Models.Extras>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <br />
    <h2>Manage Extras</h2>

    <p>
        <a href="@(Url.Action("Create"))" class="btn btn-outline-dark"><span class="fa fa-plus"></span> Add Extra</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Images/@item.ImageUri" style="width:60px;height:60px" alt="user image" class="online" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Price.ToString("c")
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    <a href="#" onclick="deleteItem('@(item.Id)')">Delete</a>
                </td>
            </tr>
        }

    </table>
</div>

<script>
     function deleteItem(id) {
        var doDelete = confirm("Are you sure you want to remove this extra?");
        if (doDelete) {
            $.ajax({
                type: "Get",
                url: "@Url.Action("Delete")?id=" + id,
                async: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    location.reload();
                },
                error: function (e) {
                    return;
                }
            });
        }
    }
</script>