@model CarRentalApp.Models.RegisterViewModel
@*
    @{
        ViewBag.Title = "Sign Up";
    }
    <style>
        body {
            background-image: url('../../Images/Royal logo.PNG');
        }
    </style>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="jumbotron" style="background-color:whitesmoke;border-radius:0;padding-bottom:0.5em">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                  <center><h2>@ViewBag.Title.</h2></center>


                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @style = "max-width:100%" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @style = "max-width:100%" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Contact, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", @style = "max-width:100%" })
                        @Html.ValidationMessageFor(m => m.Contact, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "max-width:100%" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "max-width:100%" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })

                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "max-width:100%" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>



                    <div class="form-group">
                        <button type="submit" onclick="this.form.submit();this.disabled = true;" class="btn btn-outline-dark btn-block">Register <i class="fas fa-sign-in-alt"></i></button>
                    </div>
                    <p>
                        <a href="/login">Already have an account? Log In.</a>
                    </p>

                }

                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </div>
        </div>

        <div class="col-sm-4"></div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }

    </div>*@


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @*<link rel="stylesheet" href="css/style.css">*@
    <link href="~/Content/LoginCss.css" rel="stylesheet" />
    <title>Signup</title>
</head>
<body>
    <div class="wrap">
        <div class="viewport">
            <div class="holder signup">
                <div class="left-section">
                    <div class="icon-user-add">
                        <img src="~/Images/maleadd.png" class="male-add" alt="">
                    </div>
                    <div class="description-holder">
                        <div class="signup-text">SIGNUP NOW</div>
                        <div class="label-text">IT'S FREE AND ALWAYS WILL BE!</div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="logo">LOGO</div>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="input-container">
                            @*<input type="text" placeholder="Username">*@
                            @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First Name", @style = "max-width:100%" })
                            <div>
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="input-container">
                            @*<input type="text" placeholder="Username">*@
                            @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last Name", @style = "max-width:100%" })
                            <div>
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="input-container">
                            @*<input type="text" placeholder="Username">*@
                            @Html.TextBoxFor(m => m.Contact, new { @placeholder = "Contact", @style = "max-width:100%" })
                            <div>
                                @Html.ValidationMessageFor(m => m.Contact, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="input-container">
                            @*<input type="text" placeholder="Username">*@
                            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email, eg example@example.com", @style = "max-width:100%" })
                            <div>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="input-container">
                            @*<input type="text" placeholder="Username">*@
                            @Html.TextBoxFor(m => m.Password, new { @placeholder = "Password", @style = "max-width:100%", @type = "Password" })
                            <div>
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="input-container">
                            @*<input type="text" placeholder="Username">*@
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password", @style = "max-width:100%", @type = "Password" })
                            <div>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="input-container"><input type="text" placeholder="Email address"></div>
                            <div class="input-container"><input type="text" placeholder="Password"></div>
                            <div class="signup-options">
                                <span class="icons"><img src="images/google.svg" alt=""></span>
                                <span class="icons"><img src="images/facebook.svg" alt=""></span>
                                <span class="icons"><img src="images/twitter.svg" alt=""></span>*@
                        @*<button class="signup-btn">Signup</button>*@
                     <center><button type="submit" onclick="this.form.submit();this.disabled = true;" class="signup-btn">Signup<i class="fas fa-sign-in-alt"></i></button></center>   
                    }
                </div>
            </div>
        </div>
        @*<div class="holder login">
                <div class="left-section">
                    <div class="icon-user-add">
                        <img src="~/Images/img_235012.png" class="male-add" alt="">
                    </div>
                    <div class="description-holder">
                        <div class="signup-text">LOGIN</div>
                        <div class="label-text">SHOW YOUR PRESENCE</div>
                    </div>
                </div>
                <div class="right-section">
                    <div class="logo">Suzuka Rentals</div>
                    <div class="input-container"><input type="text" placeholder="Email address"></div>
                    <div class="input-container"><input type="text" placeholder="Password"></div>
                    <div class="signup-options">
                        <button class="signup-btn">Login</button>
                    </div>
                </div>
            </div>*@
    </div>

    @*</div>*@
    @*<div class="dots">
            <span class="dot active previous"></span>
            <span class="dot next"></span>
        </div>*@
    @*<script>
        'user strict'
        const dots = document.querySelectorAll(".dots .dot");
        dots.forEach(thisDot => {
            thisDot.addEventListener("click", function () {
                dots.forEach(thisDot => {
                    thisDot.classList.remove("active")
                })
                this.classList.add("active");
                const signupbox = document.querySelector(".holder.signup");
                const loginBox = document.querySelector(".holder.login");
                if (this.classList.contains("next")) {
                    signupbox.classList.remove("slide-down");
                    loginBox.classList.remove("slide-down");
                    signupbox.classList.add("slide-up");
                    loginBox.classList.add("slide-up");
                } else {
                    signupbox.classList.remove("slide-up");
                    loginBox.classList.remove("slide-up");
                    signupbox.classList.add("slide-down");
                    loginBox.classList.add("slide-down");

                }
            })
        })
    </script>*@
</body>

</html>
